@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Playfair+Display:wght@900&display=swap');
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #9d1926;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bs-light);
    font-family: 'Playfair Display', serif;
}
.menu{
    /* background-color: cadetblue; */
    margin-top: 5rem;
}
.title{
    font-family: 'Playfair Display', serif;
    color: var(--bs-red);
}
/* uncomment later */
.card__dashed:hover{
    /* border: none!important; */
    border-bottom: 1px solid var(--bs-danger);
}
.list-group-item{
    border: none!important;
    padding: 2px 0!important;
}
/* uncomment later */

.item__img img{
    border: 1px solid var(--bs-secondary);
    height: 100px;
    width: 100px;
    /* border-radius: 50px; */
    margin: 20px 25px;
    /* object-fit: fill; */
    object-fit: cover;
    /* object-fit: contain; */
}
.item__img img:hover{
    box-shadow: 0 0 5px 2px var(--bs-red);
}

.btn_select{
    background-color:  var(--bs-red) !important;
    color: white !important;
}