@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Playfair+Display:wght@900&display=swap");
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #9d1926;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Playfair Display", serif;
  color: var(--bs-red);
}
.title {
  color: var(--bs-red);
}
.center {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
.display__grid-6 {
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: space-evenly;
}
.cart__title {
  background-color: var(--bs-red);
  color: #fff;
}
.cart__title p {
  margin-top: 15px;
}

.item__img {
  height: 70px;
  width: 70px;
  border-radius: 45px;
}
.trash {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.trash i:hover {
  color: var(--bs-red);
}
.quantity-container button {
  height: 30px;
  width: 30px;
  border: 1px solid var(--bs-red);
  color: var(--bs-red);
  background-color: #fff;
  padding: 3px 2px;
}
.quantity-input {
  height: 30px;
  width: 30px;
  border: 1px solid var(--bs-red);
  color: var(--bs-red);
  padding: 5px 10px;
}
.quantity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.coupon input{
  outline: none;
  border: 2px solid var(--bs-red);
      padding: 10px 15px;
    margin: 1px 1px;
}
.coupon button{
    padding: 10px 15px;
    margin-bottom: 2px;
}
.total__cart{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  gap: 2rem;
}
.cart__total{
  background-color: #6c757d;
}
.proceed button{
  margin-left: 40rem;
}